pipeline/IncrementalLoad_ForEach.json
{
	"name": "IncrementalLoad_ForEach",
	"properties": {
		"activities": [
			{
				"name": "LookupControlTable",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select * from control_table",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "OnPremSQLDB",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupControlTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupControlTable').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "copyOnPremToASDB",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "select * from @{item().SourceTableName} where @{item().WaterMarkColumn}>='@{item().FromDate}' and @{item().WaterMarkColumn}<='@{item().ToDate}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "upsert",
									"upsertSettings": {
										"useTempDB": false,
										"keys": {
											"value": "@array(item().KeyColumnName)",
											"type": "Expression"
										}
									},
									"sqlWriterUseTableLock": true,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "OnPremSQLDB",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSqlDB",
									"type": "DatasetReference",
									"parameters": {
										"SinkTable": {
											"value": "@item().SinkTableName",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"SourceTableName": {
				"type": "string",
				"defaultValue": "customer_table"
			},
			"SinkTableName": {
				"type": "string",
				"defaultValue": "customer_table"
			},
			"WaterMarkColumn": {
				"type": "string",
				"defaultValue": "LastModifytime"
			},
			"KeyColumnName": {
				"type": "array",
				"defaultValue": [
					"PersonID"
				]
			},
			"FromDate": {
				"type": "string",
				"defaultValue": "'2017-09-01 00:56:00.000'"
			},
			"ToDate": {
				"type": "string",
				"defaultValue": "2017-09-05 08:06:00.000"
			}
		},
		"annotations": []
	}
}